Muhammad Khalid Anwar

1 print Hello world

In [1]:
print("Hello, World!")

Hello, World!

2 Print multiple items in one statement

In [2]:
name = "khalid" 
age = 24
city = "Akora Khattak"
print("Name: ",name ," Age: ",age," city: ",city)

Name:  khalid  Age:  24  city:  Akora Khattak

3 Print using escape characters

In [4]:
print (" Welcome to Python! \n Let's learn coding.")

 Welcome to Python!
 Let's learn coding.

4 Print quotes inside a string

In [6]:
print( 'He said, "Python is amazing!"')

He said, "Python is amazing!"

5 Print a pattern using stars

In [7]:
for i in range(1,6):
    for j in range(0,i):
        print("*", end="")
    print("")

*
**
***
****
*****


6  Formatted string output using f-strings

In [10]:
name = input("enter is your Name ")
age = int(input("enter is your age "))

print(f"Hello, my name is {name} and I am {age} Years old")

enter is your Name  Khalid Anwar
enter is your age  24

Hello, my name is Khalid Anwar and I am 24 Years old

7 Table

In [11]:
number =int(input("Please enter a number: "))

for i in range(1,11,1):
    print(number,"x",i,"=",i*number)

Please enter a number:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

8 Align text with padding

In [12]:
print(f"{'Apple' : <10}  {'Banana': ^10}  {'Mango': >10}" )
print()

Apple         Banana         Mango

9 Output the result of a simple calculation

In [13]:
a = 5
b = 12
print(a," + ",b," = ",a+b)

5  +  12  =  17

10. Print a formatted receipt

In [14]:
print("- Item names \n- Quantity \n- Price\n- Total")

- Item names
- Quantity
- Price
- Total

                                        Basic Keyword Exercises (1–10)


1. Print a list of some common Python keywords.

In [15]:
print(
    "i)  if \nii) else \niii) match \niv)  try \nv)   catch \nvi)  input \nvii) length \nviii) filter \nix)   while \n x)   for "
)

i)  if
ii) else
iii) match
iv)  try
v)   catch
vi)  input
vii) length
viii) filter
ix)   while
 x)   for

2. Print three keywords used for conditional statements in Python

In [16]:
x=int(input("Please enter x : "))
y=int(input("Please enter y : "))

if(x>y):
    print(f"{x} is greater than {y}  ")
elif(y<x):
    print(f"{y} is greater than {x}  ")
else:
    print(f"{x} is equal to {y}  ")

Please enter x :  7
Please enter y :  5

7 is greater than 5

                                          Or

In [17]:
print("Conditional Keywords:")
print("if, else, elif")

Conditional Keywords:
if, else, elif

3. Print three keywords used in loops

In [18]:
print("Loop Keywords:")
print("for, while, break")

Loop Keywords:
for, while, break

4. Print the Boolean keywords in Python

In [19]:
print("Boolean Keywords:")
print("True, False, and, or, not, is")

Boolean Keywords:
True, False, and, or, not, is

5. Manually sort and print five keywords alphabetically

In [20]:
print("Five Alphabetically Sorted Keywords:")
keywords = ["while", "if", "else", "return", "for"]
keywords.sort()
print(keywords)

Five Alphabetically Sorted Keywords:
['else', 'for', 'if', 'return', 'while']

6. Print keywords that represent constant values

In [21]:
print("Constant Value Keywords:")
print("True, False, None")

Constant Value Keywords:
True, False, None

7. Print keywords used for flow control

In [23]:
print("Flow Control Keywords:")
print("break, continue, pass")

Flow Control Keywords:
break, continue, pass

8. Create a print statement that uses the word 'if'

In [24]:
print("i am using  'if' is used to check conditions in Python")

i am using  'if' is used to check conditions in Python

9. Make a table using print

In [25]:
print("Keyword     | Use")
print("------------|----------------------")
print("if          | Conditional check")
print("while       | Loop")
print("break       | Exit loop")

Keyword     | Use
------------|----------------------
if          | Conditional check
while       | Loop
break       | Exit loop

10. Print all capital letter versions of 5 keywords

In [26]:
print("Capital Letter Versions:")
print("IF, ELSE, WHILE, BREAK, PASS")

Capital Letter Versions:
IF, ELSE, WHILE, BREAK, PASS

                                                Intermediate Conceptual Challenges (11–15)

11. Make a list (manually) of 10 Python keywords and print it

In [27]:
keywords_list = ['if', 'else', 'elif', 'for', 'while', 'break', 'continue', 'def', 'class', 'return']
print("10 Python Keywords:", keywords_list)

10 Python Keywords: ['if', 'else', 'elif', 'for', 'while', 'break', 'continue', 'def', 'class', 'return']

12. Print 5 keywords that cannot be used as variable names

In [28]:
print("Keywords that cannot be used as variable names:\n if, while, for, class, def")

Keywords that cannot be used as variable names:
 if, while, for, class, def

13. Print a sentence that uses 3 keywords (in plain text)

In [29]:
print("Python uses if, else, and for to control the flow of code.\n")

Python uses if, else, and for to control the flow of code.

4. Group and print keywords into 3 categories

In [33]:
conditional_keywords = ['if', 'else', 'elif']
looping_keywords = ['for', 'while', 'break', 'continue']
boolean_keywords = ['True', 'False', 'None', 'and', 'or', 'not', 'is']

print("Grouped Python Keywords:")
print("Conditional:", conditional_keywords)
print("Looping:", looping_keywords)
print("Boolean:", boolean_keywords)

Grouped Python Keywords:
Conditional: ['if', 'else', 'elif']
Looping: ['for', 'while', 'break', 'continue']
Boolean: ['True', 'False', 'None', 'and', 'or', 'not', 'is']

15. Write a short explanation of why we can't use keywords as variable names

In [34]:
print("We can't use Python keywords as variable names because they have special meanings in the language.")

We can't use Python keywords as variable names because they have special meanings in the language.

                                                    New Chapter

1. Welcome message

In [35]:
name = input("Enter your name: ")
print(f"Welcome, {name}!")

Enter your name:  Khalid Anwar

Welcome, Khalid Anwar!

2. Sum of two numbers

In [36]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Sum:", num1 + num2)

Enter first number:  5
Enter second number:  6

Sum: 11

 3. Favorite color

In [37]:
color = input("What is your favorite color? ")
print(f"Your favorite color is {color}.")

What is your favorite color?  Black

Your favorite color is Black.

4. User's age

In [38]:
age = int(input("Enter your age: "))
print(f"You are {age} years old.")

Enter your age:  24

You are 24 years old.

 5. City and country

In [39]:
city = input("Enter your city: ")
country = input("Enter your country: ")
print(f"You live in {city}, {country}.")

Enter your city:  Akora Khhattak
Enter your country:  Paktistan

You live in Akora Khhattak, Paktistan.

6. Difference of two numbers

In [40]:
num3 = int(input("Enter first number: "))
num4 = int(input("Enter second number: "))
print("Difference:", num3 - num4)

Enter first number:  80
Enter second number:  67

Difference: 13

7. Word to uppercase

In [42]:
word = input("Enter a word: ")
print(f"befor uppercase {word} after uppercase {word.upper()}")

Enter a word:  khalid

befor uppercase khalid after uppercase KHALID

8. Character count in sentence

In [43]:
sentence = input("Enter a sentence: ")
print("Character count:", len(sentence))

Enter a sentence:  Muhammad Khalid Anwar

Character count: 21

9. School name message

In [44]:
school = input("Enter your school name: ")
print(f"I study at {school}.")

Enter your school name:  The sudent Model School

I study at The sudent Model School.

10. Full name from first and last name

In [45]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Full name:", first_name + " " + last_name)

Enter your first name:  Muhammad Khalid
Enter your last name:  Anwar

Full name: Muhammad Khalid Anwar

11. Age after 5 years

In [46]:
current_age = int(input("Enter your age: "))
print("Your age after 5 years will be:", current_age + 5)

Enter your age:  34

Your age after 5 years will be: 39

12. Product of two numbers

In [47]:

num5 = int(input("Enter first number: "))
num6 = int(input("Enter second number: "))
print("Product:", num5 * num6)

Enter first number:  3
Enter second number:  4

Product: 12

13. Name and hobby

In [48]:
person_name = input("Enter your name: ")
hobby = input("Enter your hobby: ")
print(f"{person_name} likes {hobby}.")

Enter your name:  Khalid
Enter your hobby:  badminton

Khalid likes badminton.


                                                                 New Chapter

 1. Convert a string "10" to an integer and add 5 to it

In [49]:
a="10"
print(int(a) + 5)  # Output: 15 but this convter is not paramanat ok

15

2. Convert a string float to a float

In [50]:
a="7.9"
print(float(a))

7.9

3. Convert an integer to string and concatenate

In [52]:
a=5
print("The number is " + str(a))

The number is 5

 4. Convert float 3.14 to int

In [53]:
print(int(3.14))

3

5. Convert integer 1 to boolean

In [56]:
print(bool(1))

True

 6. Convert string "False" to boolean

In [57]:
print(bool("False"))  # Output: True (non-empty string is True)

True

7. Take string input, convert to int, multiply by 2

In [58]:
num_str = input("Enter a number as string: ")
print("Multiplied by 2:", int(num_str) * 2)

Enter a number as string:  34

Multiplied by 2: 68


 8. Take float input, convert to int, print both

In [59]:
float_input = float(input("Enter a floating number: "))
int_converted = int(float_input)
print("Original:", float_input)
print("Converted to int:", int_converted)

Enter a floating number:  13.3

Original: 13.3
Converted to int: 13



9. Convert a number to a string and check type

In [60]:

num = 100
num_str = str(num)
print("Converted string:", num_str)
print("Type:", type(num_str))

Converted string: 100
Type: <class 'str'>




Q 10 missing da sir

11. Take two numbers as input and add as integers

In [61]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum as integers:", a + b)

Enter first number:  23
Enter second number:  22

Sum as integers: 45

12. Convert string "25.5" to float and int

In [62]:

val = "25.5"
val_float= float(val)
val_int= int(val_float)
print("float",type(val_float),val_float)
print("int",type(val_int),val_int)

float <class 'float'> 25.5
int <class 'int'> 25

 13. Try converting "123abc" to int

In [63]:
a="123abc"
print(int(a)) #Output : ValueError: invalid literal for int() with base 10: '123abc'

ValueError: invalid literal for int() with base 10: '123abc'

14. Check if input is numeric and convert

In [64]:
s = input("Enter something to check if numeric: ")
if s.isnumeric():
    print("As int:", int(s))
else:
    print("Not numeric.")

Enter something to check if numeric:  23

As int: 23

15. Convert float to int and then to string

In [65]:
f = 9.99
i = int(f)
s = str(i)
print("Float:", f)
print("Int:", i)
print("String:",s)

Float: 9.99
Int: 9
String: 9




                                                                    New Chapter

1. Print a string literal

In [66]:
print("Learning Python is fun!")

Learning Python is fun!

2. Create and print an integer and a float literal

In [67]:
int_literal = 10
float_literal = 3.14
print(int_literal, float_literal)

10 3.14

3. String literal using single and double quotes

In [68]:
single_quote = 'Hello'
double_quote = "World"
print(single_quote)
print(double_quote)

Hello
World

4. Boolean literal

In [69]:
print(True,",", False)

True , False

5. Create a variable with value None

In [71]:
x = None
print(x)

None

6. Print the type of each literal

In [72]:
print(type("Hello"))  # str
print(type(10))       # int
print(type(3.5))      # float
print(type(True))     # bool
print(type(None))     # NoneType

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

7. String literal for a sentence

In [73]:
print("Python’s simplicity is powerful.")

Python’s simplicity is powerful.

 8. Concatenate two strings

In [74]:
str1 = "Python is"
str2 = " awesome!"
print(str1 + str2)

Python is awesome!

9. Mixed list: number, string, boolean

In [75]:
mixed_list = [42, "Hello", True, 34.5]
print(mixed_list)

[42, 'Hello', True, 34.5]

10. Multi-line string using triple quotes

In [76]:
print("""This is
a multi-line
string literal.""")

This is
a multi-line
string literal.

11. Output of comparison with None

In [77]:
print(None == 0)      # False
print(None == False)  # False

False
False